# API Backend
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SOCKET_URL=http://localhost:5000

# Configuration
REACT_APP_REFRESH_INTERVAL=60000
REACT_APP_DEFAULT_LANGUAGE=fr
REACT_APP_THEME=light

# Fonctionnalités
REACT_APP_ENABLE_NOTIFICATIONS=true
REACT_APP_ENABLE_OFFLINE_MODE=true
